.projects h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    margin: 0 auto;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; height: 300px;
    margin: 10px 10px;
    background-color: #191919;
}

.project-title {
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .projects-container {
        display: block;
        text-align: center;
    }
}
