.about {
    display: grid;
    place-items: center;
    position: relative;
    color: grey;
    overflow: hidden;
}

.about-content {
    width: 50%;
    line-height: 40px;
}

.about-content h1 {
    font-size: 45px;
    font-weight: bold;
}

.about-content h2 {
    font-size: 30px;
}

.about-content ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}