.about h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    line-height: 30px;
}

.about-content p {
    max-width: 50ch;
    font-size: 16px;
    margin-bottom: 15px;
}

.about-content a {
    font-size: 1.1rem;
    border-bottom: 1px solid grey;
}

.about-content a:hover {
    font-style: italic;
}

@media (max-width: 920px) {
    .about {
        display: block;
        text-align: center;
    }
    .about-content {
        display: block;
        text-align: center;
        margin: 0px 25px;
        max-width: 40ch;
    }

    .about-content img {
        height: 150px; width: auto;
    }
}