.home {
    display: grid;
    place-items: center;
    position: relative;
    height: 100vh;
}

.home img {
    height: 200px;
    border-radius: 50%;
}

.home-arrows {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.hero1, .hero2 {
    color: grey;
    margin: 30px 0px;
    font-size: 50px;
}