.contact-header {
    display: block;
    text-align: center;
}

.contact-header > * {
    margin: 25px 0px;
}

.contact-header h1 {
    font-size: 2rem;
    font-weight: bold;
}

.contact-header h2 {
    font-size: 1.2rem;
}

.contact-content {
    max-width: 50ch;
    text-align: center;
    line-height: 30px;
}

.contact-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-buttons form {
    margin: 15px 15px;
}

.contact-buttons input {
    padding: 10px 30px;
    color: indianred;
    background-color: transparent;
    border: 1px solid indianred;
    border-radius: 3px;
}

.contact-buttons input:hover {
    background-color: indianred;
    color: whitesmoke;
}

@media (max-width: 900px) {
    .contact {
        display: block;
    }
}

@media (max-width: 300px) {
    .contact {
        font-size: 0.7rem;
        max-width: 40ch;
        margin: 0 25px;
    }
    .contact-header h1 {
        font-size: 1.5rem;
    }
    .contact-header h2 {
        font-size: 1.2rem;
    }
    .contact-buttons {
        display: block;
        text-align: center;
    }
}

