.home-link, .links {
    display: flex;
    overflow: hidden;
}

.link {
    padding: 5px 15px;
}

.link nav {
    font-size: 18px;
    color: grey;
}

.link nav:hover, .project-info a:hover {
    color: indianred;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

