.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: relative;
    top: 0px;
    padding: 20px 15%;
    height: 10vh;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.link nav {
    font-size: 25px;
    line-height: 35px;
    color: grey;
    margin: 0px 15px;
    padding-bottom: 1px;
}

.link nav:hover, .project-info a:hover {
    color: whitesmoke;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.onComponent {
    border-bottom: 1px solid grey;
}

