.navbar {
    display: flex;
    align-items: center;
    z-index: 10000;
    position: sticky;
    top: 0;
    background-color: #141414;
    padding: 15px 5%;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.link {
    padding: 5px 15px;
}

.link nav {
    font-size: 18px;
    color: grey;
}

.link nav:hover, .project-info a:hover {
    color: white;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

