.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10% 5%;
    height: 5vh;
}

.footer-links {
    display: inline-block;
}

.socials a {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    line-height: 25px;
    color: grey;
    text-decoration: none;
    margin: 20px 10px;
}

.socials i {
    font-size: 20px;
}

.vl {
    border-left: 6px solid indianred;
    height: 500px;
  }

.socials a:hover {
    color: indianred;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}