.footer {
    position: fixed;
    bottom: 0; left: 0;
    margin: 0 2%;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials i {
    font-size: 17px;
    margin: 10px 0px;
}

.vl {
    border-left: 1px solid indianred;
    min-height: 70px;
    margin-top: 20px;
}

.socials a:hover {
    color: indianred;
    -webkit-transition: color 400ms linear;
    -ms-transition: color 400ms linear;
    transition: color 400ms linear;
}

@media (max-width: 600px) {
    .footer {
        display: none;
    }
}