.footer {
    position: fixed;
    bottom: 0; left: 0;
    margin: 0 5%;
}

.socials {
    margin: 20px 0px;
}

.socials i {
    font-size: 20px;
}

.vl {
    border-left: 3px solid indianred;
    min-height: 200px;
    position: fixed;
    left: 4%; bottom: 0;
}

.socials a:hover {
    color: indianred;
    -webkit-transition: color 400ms linear;
    -ms-transition: color 400ms linear;
    transition: color 400ms linear;
}

@media (max-width: 600px) {
    .footer {
        display: none;
    }
}